
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/
allure-report/

.allure/

/screenshots/
tests/bdd/**/*.spec.js
tests/api/bdd/**/*.spec.js

# Local environment and OS noise
.env
.DS_Store
